body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

#square {
  width: 20px;
  height: 10px;
  background: red;
  margin-left: 15px;
  margin-top: 3px;
}

.legend {
  line-height: 18px;
  color: #555;
}
.legend i {
  width: 18px;
  height: 20px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

.legend {
  background: white;
  width:  100px;
  /* text-align: center; */
}

#legendTitle {
  text-align: center;
}